.button{
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-radius: 5px;
  border-color:rgb(152, 152, 152) ;
  box-shadow: rgba(0, 0, 0, .2) 0 0px 0px 0px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 0px 0;
  box-sizing: border-box;
  color: #000000;
  background-color: #608b98;
  border-radius: 5px;
  border-style: none;
}

.main {
  width: 300px;
  margin-top: 200px;
  height: 50px;
  border: 1px solid rgb(40, 109, 122);
  border-radius: 5px;
  background-color: rgb(62, 183, 207);
  margin-left: auto;
  margin-right: auto;
}

.time{
  text-align: center;
  font-size: 40px;
}